{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_header %}Rejestracja | <a href="{{ path('fos_user_security_login') }}">Logowanie</a>{% endblock page_header %}
{% block small_header %}{% endblock small_header %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
