{% extends 'base.html.twig' %}

{% block page_header %}Team{% endblock page_header %}
{% block small_header %}szczegóły{% endblock small_header %}

{% block body %}

    <div class="table-responsive">
        <table class="table table-hover table-striped">

            <tbody>

                <tr>
                    <th>Nazwa</th>
                    <td>{{ team.name }}</td>
                </tr>
                <tr>
                    <th>Projekt</th>
                    <td>{{ team.building }}</td>
                </tr>
                <tr>
                    <th>Użytkownicy</th>
                    <td>
                        <ul>
                            {% for user in team.users %}
                                <li>{{ user.username }}</li>
                                {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('team_index') }}" class="btn btn-lg">Powrót do listy</a>


{% endblock %}
